@model CoBaoWeb.Models.BCChitieuktkt
@{
    ViewData["Title"] = "BC Chỉ tiêu KTKT";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}
<main>   
    <div class="card shadow mb-4">
        <form method="post" asp-controller="BaoCao" asp-action="Chitieuktkt">
            <!-- Header-->
            <div class="card-header py-3">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn xí nghiệp</h6>
                                    <select asp-for="BCTratim.Xinghiep" id="drbXinghiep" class="form-control" asp-items="@ViewBag.xinghiep">
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn tuyến</h6>
                                    <select asp-for="BCTratim.Tuyen" id="drbTuyen" class="form-control" asp-items="@ViewBag.tuyen">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn loại máy</h6>
                                    <select asp-for="BCTratim.Loaimay" id="drbLoaimay" class="form-control" asp-items="@ViewBag.loaimay">
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn nguồn</h6>
                                    <select asp-for="BCTratim.Nguon" id="drbNguon" class="form-control" asp-items="@ViewBag.nguon">
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn báo cáo</h6>
                                    <select asp-for="BCTratim.Nhombc" id="drbNhombc" class="form-control" asp-items="@ViewBag.nhombc">
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Ngày bắt đầu</h6>
                                    <input asp-for="BCTratim.Begin" class="form-control ui-datepicker" type="date" placeholder="Ngày bắt đầu" />
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Ngày kết thúc</h6>
                                    <input asp-for="BCTratim.End" class="form-control ui-datepicker" type="date" placeholder="Ngày kết thúc" />
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Ấn nút tt</h6>
                                    <button type="submit" class="btn btn-primary" method="post" asp-controller="BaoCao" asp-action="Chitieuktkt">Tra tìm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Body DataTales-->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <!--Tổng hợp-->
                        @if (Model.BCKTKTTHInfo != null)
                        {
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:blue">
                                <thead>
                                    <tr>
                                        <th>
                                            Mã số
                                        </th>
                                        <th>
                                            Tên chỉ tiêu
                                        </th>
                                        <th>
                                            Đơn vị tính
                                        </th>
                                        <th>
                                            KháchYV 1435
                                        </th>
                                        <th>
                                            KháchYV 1000
                                        </th>
                                        <th>
                                            KháchHN
                                        </th>
                                        <th>
                                            KháchVIN
                                        </th>
                                        <th>
                                            KháchĐN
                                        </th>
                                        <th>
                                            KháchSG
                                        </th>
                                        <th>
                                            KháchTCT
                                        </th>
                                        <th>
                                            HàngYV 1435
                                        </th>
                                        <th>
                                            HàngYV 1000
                                        </th>
                                        <th>
                                            HàngHN
                                        </th>
                                        <th>
                                            HàngVIN
                                        </th>
                                        <th>
                                            HàngĐN
                                        </th>
                                        <th>
                                            HàngSG
                                        </th>
                                        <th>
                                            HàngTCT
                                        </th>
                                        <th>
                                            Công Dụng
                                        </th>
                                        <th>
                                            Kiêm Dồn
                                        </th>
                                        <th>
                                            Chuyên Dồn
                                        </th>
                                        <th>
                                            Tổng Cộng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BCKTKTTHInfo)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaCT)
                                        </td>
                                        <td align="left" style="min-width:270px">
                                            @Html.DisplayFor(modelItem => item.TenCT)
                                        </td>
                                        <td style="min-width:130px">
                                            @Html.DisplayFor(modelItem => item.DonVi)
                                        </td>
                                        <td align="right">
                                            @if (item.KVYV1435 != 0)@Html.DisplayFor(modelItem => item.KVYV1435) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KVYV1000 != 0)@Html.DisplayFor(modelItem => item.KVYV1000) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KVHN != 0)@Html.DisplayFor(modelItem => item.KVHN) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KVVI != 0)@Html.DisplayFor(modelItem => item.KVVI) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KVDN != 0)@Html.DisplayFor(modelItem => item.KVDN) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KVSG != 0)@Html.DisplayFor(modelItem => item.KVSG) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KVTong != 0)@Html.DisplayFor(modelItem => item.KVTong) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVYV1435 != 0)@Html.DisplayFor(modelItem => item.HVYV1435) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVYV1000 != 0)@Html.DisplayFor(modelItem => item.HVYV1000) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVHN != 0)@Html.DisplayFor(modelItem => item.HVHN) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVVI != 0)@Html.DisplayFor(modelItem => item.HVVI) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVDN != 0)@Html.DisplayFor(modelItem => item.HVDN) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVSG != 0)@Html.DisplayFor(modelItem => item.HVSG) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVTong != 0)@Html.DisplayFor(modelItem => item.HVTong) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.CongDung != 0)@Html.DisplayFor(modelItem => item.CongDung) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KiemDon != 0)@Html.DisplayFor(modelItem => item.KiemDon) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.ChuyenDon != 0)@Html.DisplayFor(modelItem => item.ChuyenDon) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.TongCong != 0)@Html.DisplayFor(modelItem => item.TongCong) else @Html.Display("--")
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        }
                        <!--Chi tiết-->
                        @if (Model.BCKTKTXNInfo != null)
                        {
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:blue">
                                <thead>
                                    <tr>
                                        <th>
                                            Mã số
                                        </th>
                                        <th>
                                            Tên chỉ tiêu
                                        </th>
                                        <th>
                                            Đơn vị tính
                                        </th>
                                        <th>
                                            Khách TN
                                        </th>
                                        <th>
                                            Khách ĐP
                                        </th>
                                        <th>
                                            Khách HH
                                        </th>
                                        <th>
                                            Khách Vận
                                        </th>
                                        <th>
                                            Hàng
                                        </th>
                                        <th>
                                            Đá
                                        </th>
                                        <th>
                                            Thoi
                                        </th>
                                        <th>
                                            Hóa Vận
                                        </th>
                                        <th>
                                            Công Dụng
                                        </th>
                                        <th>
                                            Kiêm Dồn
                                        </th>
                                        <th>
                                            Chuyên Dồn
                                        </th>
                                        <th>
                                            Tổng Cộng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BCKTKTXNInfo)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MaCT)
                                        </td>
                                        <td align="left" style="min-width:270px">
                                            @Html.DisplayFor(modelItem => item.TenCT)
                                        </td>
                                        <td style="min-width:130px">
                                            @Html.DisplayFor(modelItem => item.DonVi)
                                        </td>
                                        <td align="right">
                                            @if (item.KVTN != 0)@Html.DisplayFor(modelItem => item.KVTN) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KVDP != 0)@Html.DisplayFor(modelItem => item.KVDP) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KVHH != 0)@Html.DisplayFor(modelItem => item.KVHH) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KVTong != 0)@Html.DisplayFor(modelItem => item.KVTong) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVHang != 0)@Html.DisplayFor(modelItem => item.HVHang) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVDa != 0)@Html.DisplayFor(modelItem => item.HVDa) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVThoi != 0)@Html.DisplayFor(modelItem => item.HVThoi) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.HVTong != 0)@Html.DisplayFor(modelItem => item.HVTong) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.CongDung != 0)@Html.DisplayFor(modelItem => item.CongDung) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.KiemDon != 0)@Html.DisplayFor(modelItem => item.KiemDon) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.ChuyenDon != 0)@Html.DisplayFor(modelItem => item.ChuyenDon) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.TongCong != 0)@Html.DisplayFor(modelItem => item.TongCong) else @Html.Display("--")
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        }
                    </div>
                </div>
            </div>
            <!-- Footer-->
            <div class="card-footer py-3">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="PdfReport_Chitieuktkt">Xuất Pdf</button>
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="ExcelReport_Chitieuktkt">Xuất Excel</button>
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="WordReport_Chitieuktkt">Xuất Word</button>
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="HtmlReport_Chitieuktkt">Xuất Html</button>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
        </form>
     </div>
</main>
