@model CoBaoWeb.Models.BCSPTNThuchien
@{
    ViewData["Title"] = "BC SPTN Thực hiện";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}
<main>   
    <div class="card shadow mb-4">
        <form method="post" asp-controller="BaoCao" asp-action="SPTNThuchien">
            <!-- Header-->
            <div class="card-header py-3">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn xí nghiệp</h6>
                                    <select asp-for="BCTratim.Xinghiep" id="drbXinghiep" class="form-control" asp-items="@ViewBag.xinghiep">
                                    </select>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-lg-10">
                            <div class="row">                               
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn nguồn</h6>
                                    <select asp-for="BCTratim.Nguon" id="drbNguon" class="form-control" asp-items="@ViewBag.nguon">
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn báo cáo</h6>
                                    <select asp-for="BCTratim.Nhombc" id="drbNhombc" class="form-control" asp-items="@ViewBag.nhombc">
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Ngày bắt đầu</h6>
                                    <input asp-for="BCTratim.Begin" class="form-control ui-datepicker" type="date" placeholder="Ngày bắt đầu" />
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Ngày kết thúc</h6>
                                    <input asp-for="BCTratim.End" class="form-control ui-datepicker" type="date" placeholder="Ngày kết thúc" />
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Ấn nút tt</h6>
                                    <button type="submit" class="btn btn-primary" method="post" asp-controller="BaoCao" asp-action="SPTNThuchien">Tra tìm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Body DataTales-->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        @if (Model.BCTHSPTNInfo != null)
                        {
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:blue">
                            <thead>
                                <tr>
                                    <th>
                                        Loại công tác
                                    </th>
                                    <th>
                                        Loại máy
                                    </th>
                                    <th>
                                        KM phụ trợ 
                                    </th>
                                    <th>
                                        KM chính
                                    </th>
                                    <th>
                                        Tấn KM
                                    </th>
                                    <th>
                                        Giờ dồn
                                    </th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BCTHSPTNInfo)
                                {
                                <tr>                                   
                                    <td align="left" style="min-width:100px">
                                        @Html.DisplayFor(modelItem => item.TenCT)
                                    </td>
                                    <td align="left" style="min-width:100px">
                                        @Html.DisplayFor(modelItem => item.MaLM)
                                    </td>                                   
                                    <td align="right">
                                        @if (item.KMPT != 0) @Html.DisplayFor(modelItem => item.KMPT) else @Html.Display("--")
                                    </td>                                    
                                    <td align="right">
                                        @if (item.KMCH != 0) @Html.DisplayFor(modelItem => item.KMCH) else @Html.Display("--")
                                    </td>
                                    <td align="right">
                                        @if (item.TanKM != 0) @Html.DisplayFor(modelItem => item.TanKM) else @Html.Display("--")
                                    </td>
                                    <td align="right">
                                        @if (item.DonTD != 0) @Html.DisplayFor(modelItem => item.DonTD) else @Html.Display("--")
                                    </td>
                                   
                                </tr>
                                }
                    </tbody>
                    </table>
                    }
                    </div>
                </div>
            </div>
            <!-- Footer-->
            <div class="card-footer py-3">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="PdfReport_SPTNThuchien">Xuất Pdf</button>
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="ExcelReport_SPTNThuchien">Xuất Excel</button>
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="WordReport_SPTNThuchien">Xuất Word</button>
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="HtmlReport_SPTNThuchien">Xuất Html</button>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
        </form>
     </div>
</main>
