@model CoBaoWeb.Models.BCTinhluong
@{
    ViewData["Title"] = "BC Tính lương";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}
<main>   
    <div class="card shadow mb-4">
        <form method="post" asp-controller="BaoCao" asp-action="Tinhluong">
            <!-- Header-->
            <div class="card-header py-3">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn xí nghiệp</h6>
                                    <select asp-for="BCTratim.Xinghiep" id="drbXinghiep" class="form-control" asp-items="@ViewBag.xinghiep">
                                    </select>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">                               
                                <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn nguồn</h6>
                                    <select asp-for="BCTratim.Nguon" id="drbNguon" class="form-control" asp-items="@ViewBag.nguon">
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Chọn báo cáo</h6>
                                    <select asp-for="BCTratim.Nhombc" id="drbNhombc" class="form-control" asp-items="@ViewBag.nhombc">
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Ngày bắt đầu</h6>
                                    <input asp-for="BCTratim.Begin" class="form-control ui-datepicker" type="date" placeholder="Ngày bắt đầu" />
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Ngày kết thúc</h6>
                                    <input asp-for="BCTratim.End" class="form-control ui-datepicker" type="date" placeholder="Ngày kết thúc" />
                                </div>
                                <div class="col-lg-2">
                                    <h6 class="m-0 font-weight-bold text-primary">Ấn nút tt</h6>
                                    <button type="submit" class="btn btn-primary" method="post" asp-controller="BaoCao" asp-action="Tinhluong">Tra tìm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Body DataTales-->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        @if (Model.BKTinhLuongInfo != null)
                        {
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:blue">
                            <thead>
                                <tr>
                                    <th>
                                        Số tt
                                    </th>
                                    <th>
                                        Số cb
                                    </th>
                                    <th>
                                        Ngày cb
                                    </th>
                                    <th>
                                        Giờ b
                                    </th>
                                    <th>
                                        Giờ vlm
                                    </th>
                                    <th>
                                        Đầu máy
                                    </th>
                                    <th>
                                        Mác tầu
                                    </th>
                                    <th>
                                        Giờ lt
                                    </th>
                                    <th>
                                        Giờ tn
                                    </th>
                                    <th>
                                        NL lời
                                    </th>
                                    <th>
                                        NL lỗ
                                    </th>
                                    <th>
                                        KM
                                    </th>
                                    <th>
                                        Giờ lđ
                                    </th>
                                    <th>
                                        Ma cb
                                    </th>
                                    <th>
                                        K.nguội
                                    </th>
                                    <th>
                                        Mã tx
                                    </th>
                                    <th>
                                        Tên tài xế
                                    </th>
                                    <th>
                                        LT chính
                                    </th>
                                    <th>
                                        LT phụ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.BKTinhLuongInfo)
                                {
                                <tr>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.STT)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.SoCB)
                                    </td>
                                    <td align="center" style="min-width:100px">
                                        @Html.DisplayFor(modelItem => item.NgayCB)
                                    </td>
                                    <td align="right">
                                        @if (item.GioB != 0)@Html.DisplayFor(modelItem => item.GioB) else @Html.Display("--")
                                    </td>
                                    <td align="right">
                                        @if (item.GioVLM != 0)@Html.DisplayFor(modelItem => item.GioVLM) else @Html.Display("--")
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.DauMayID)
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.MacTauID)
                                    </td>
                                    <td align="right">
                                        @if (item.GioLT != 0)@Html.DisplayFor(modelItem => item.GioLT) else @Html.Display("--")
                                    </td>
                                    <td align="right">
                                        @if (item.GioTN != 0)@Html.DisplayFor(modelItem => item.GioTN) else @Html.Display("--")
                                    </td>
                                    <td align="right">
                                        @if (item.NLLoi != 0)@Html.DisplayFor(modelItem => item.NLLoi) else @Html.Display("--")
                                    </td>
                                    <td align="right">
                                        @if (item.NLLo != 0)@Html.DisplayFor(modelItem => item.NLLo) else @Html.Display("--")
                                    </td>
                                    <td align="right">
                                        @if (item.KM != 0)@Html.DisplayFor(modelItem => item.KM) else @Html.Display("--")
                                    </td>
                                    <td align="right">
                                        @if (item.GioLD != 0)@Html.DisplayFor(modelItem => item.GioLD) else @Html.Display("--")
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.MaCB)
                                    </td>
                                    <td align="right">
                                        @if (item.KepN != 0)@Html.DisplayFor(modelItem => item.KepN) else @Html.Display("--")
                                    </td>
                                    <td align="center">
                                        @Html.DisplayFor(modelItem => item.MaLD)
                                    </td>
                                    <td align="left" style="min-width:180px">
                                        @Html.DisplayFor(modelItem => item.TenLD)
                                    </td>
                                    <td align="center">
                                        @if (item.TaiXe != 0)@Html.DisplayFor(modelItem => item.TaiXe) else @Html.Display("--")
                                    </td>
                                    <td align="center">
                                        @if (item.PhoXe != 0)@Html.DisplayFor(modelItem => item.PhoXe) else @Html.Display("--")
                                    </td>                                   
                                </tr>
                                }
                    </tbody>
                    </table>
                    }
                    </div>
                </div>
            </div>
            <!-- Footer-->
            <div class="card-footer py-3">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="PdfReport_Tinhluong">Xuất Pdf</button>
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="ExcelReport_Tinhluong">Xuất Excel</button>
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="WordReport_Tinhluong">Xuất Word</button>
                        </div>
                        <div class="col-lg-1">
                            <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="BaoCao" asp-action="HtmlReport_Tinhluong">Xuất Html</button>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
        </form>
     </div>
</main>
