@model CoBaoWeb.Models.TTHopdong
@{
    ViewData["Title"] = "NL Hợp đồng";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}
<main>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <form method="post" asp-controller="NhienLieu" asp-action="Hopdong">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5">
                                <h6 class="m-0 font-weight-bold text-primary">Chọn nhà cung cấp</h6>
                                <input asp-for="Tenncc" type="text" class="form-control form-control-user" id="txtTenncc" placeholder="Nhập nhà cung cấp">
                            </div>
                            <div class="col-lg-5">
                                <h6 class="m-0 font-weight-bold text-primary">Chọn hợp đồng</h6>
                                <input asp-for="Tenhd" type="text" class="form-control form-control-user" id="txtTenhd" placeholder="Nhập hợp đồng">
                            </div>
                            <div class="col-lg-1">
                                <h6 class="m-0 font-weight-bold text-primary">Ấn nút tt</h6>
                                <button type="submit" class="btn btn-outline-primary">Tra tìm</button>
                            </div>
                            <div class="col-lg-1">
                                <h6 class="m-0 font-weight-bold text-primary">Ấn nút Excel</h6>
                                <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="NhienLieu" asp-action="ExcelReport_Hopdong">Xuất Excel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        @if (Model.NL_HopDong != null)
                        {
                            @if (Model.NL_HopDong.Count() > 0)
                            {                              
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:blue">
                                    <thead>
                                        <tr>

                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                Mã ncc
                                            </th>
                                            <th>
                                                Tên nhà cc
                                            </th>
                                            <th>
                                                Hợp đồng
                                            </th>
                                            <th>
                                                Diễn giải
                                            </th>
                                            <th>
                                                Ngày hl
                                            </th>
                                            <th>
                                                Tỷ lệ
                                            </th>                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.NL_HopDong)
                                        {
                                        <tr>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.ID)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.MaNCC)
                                            </td>
                                            <td style="min-width:300px">
                                                @Html.DisplayFor(modelItem => item.TenNCC)
                                            </td>
                                            <td  align="center">
                                                @Html.DisplayFor(modelItem => item.HopDong)
                                            </td>
                                            <td style="min-width:300px">
                                                @Html.DisplayFor(modelItem => item.DienGiai)
                                            </td>
                                            <td align="center">
                                                @Html.DisplayFor(modelItem => item.NgayHL)
                                            </td>
                                            <td align="right">
                                                @Html.DisplayFor(modelItem => item.TyLe)
                                            </td>                                           
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    </div>
                </div>               
            </div>
        </form>
    </div>
   
</main>
