@model CoBaoWeb.Models.TTPhieunhap
@{
    ViewData["Title"] = "NL Phiếu nhập";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}
<main>
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <form method="post" asp-controller="NhienLieu" asp-action="Phieunhap">
                    <div class="col-lg-12">
                        <div class="row">                           
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Chọn trạm nl</h6>
                                        <select asp-for="Tramnl" id="drbTramnl" class="form-control" asp-items="@ViewBag.tramnl">
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Chọn nhà cc</h6>
                                        <select asp-for="Nhacc" id="drbNhacc" class="form-control" asp-items="@ViewBag.nhacc">
                                        </select>
                                    </div>
                                
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Ngày bắt đầu</h6>
                                        <input asp-for="Begin" class="form-control ui-datepicker" type="date" placeholder="Ngày bắt đầu" asp- format="{0:dd/MM/yyyy}" />
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Ngày kết thúc</h6>
                                        <input asp-for="End" class="form-control ui-datepicker" type="date" placeholder="Ngày kết thúc" />
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Chọn phiếu nhập</h6>
                                        <input asp-for="Mapn" type="text" class="form-control form-control-user" id="txtMaPN" placeholder="Nhập phiếu nhập">
                                    </div>                                    
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Ấn nút tt</h6>
                                        <button type="submit" class="btn btn-primary">Tra tìm</button>
                                    </div>                           
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.NL_PhieuNhap != null)
                    {
                        @if (Model.NL_PhieuNhap.Count() > 0)
                        {
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:blue">
                                <thead>
                                    <tr>
                                        <th>
                                            Chi tiết
                                        </th>
                                        <th>
                                            Ngày nhập
                                        </th>
                                        <th>
                                            Phiếu nhập
                                        </th>
                                        <th>
                                            Loại phiếu
                                        </th>
                                        <th>
                                            Mã trạm
                                        </th>
                                        <th>
                                            Tên trạm nl
                                        </th>
                                        <th>
                                            Mã ncc
                                        </th>
                                        <th>
                                            Tên nhà cung cấp
                                        </th>
                                        <th>
                                            Mã hđ
                                        </th>
                                        <th>
                                            Tên hợp đồng
                                        </th>
                                        <th>
                                            Số hóa đơn
                                        </th>
                                        <th>
                                            Ngày hóa đơn
                                        </th>
                                        <th>
                                            Tỷ lệ
                                        </th>
                                        <th>
                                            VAT
                                        </th>
                                        <th>
                                            Người giao
                                        </th>
                                        <th>
                                            Lý do
                                        </th>
                                        <th>
                                            Khóa sổ
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.NL_PhieuNhap)
                                    {
                                    <tr>
                                        <td style="min-width:60px">
                                            @Html.ActionLink("Chi tiết", "Phieunhapct", new { id = item.PhieuNhapID }, new { target = "_blank" })
                                        </td>
                                        <td align="center" style="min-width:140px">
                                            @Html.DisplayFor(modelItem => item.NgayNhap)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.PhieuNhapID)
                                        </td>
                                        <td style="min-width:140px">
                                            @Html.DisplayFor(modelItem => item.LoaiPhieu)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.MaTramNL)
                                        </td>
                                        <td style="min-width:100px">
                                            @Html.DisplayFor(modelItem => item.TenTramNL)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.MaNCC)
                                        </td>
                                        <td style="min-width:170px">
                                            @Html.DisplayFor(modelItem => item.TenNCC)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.MaHopDong)
                                        </td>
                                        <td style="min-width:140px">
                                            @Html.DisplayFor(modelItem => item.TenHopDong)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.SoHoaDon)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.NgayHoaDon)
                                        </td>
                                        <td align="right">
                                            @if (item.TyLe != 0)@Html.DisplayFor(modelItem => item.TyLe) else @Html.Display("--")
                                        </td>
                                        <td align="right">
                                            @if (item.VAT != 0)@Html.DisplayFor(modelItem => item.VAT) else @Html.Display("--")
                                        </td>
                                        <td style="min-width:140px">
                                            @Html.DisplayFor(modelItem => item.NguoiGiao)
                                        </td>
                                        <td style="min-width:140px">
                                            @Html.DisplayFor(modelItem => item.LyDo)
                                        </td>
                                        <td align="center">
                                            @Html.DisplayFor(modelItem => item.KhoaSo)
                                        </td>
                                    </tr>                                       
                                    }
                                </tbody>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
   
</main>
