@model CoBaoWeb.Models.TTCobaogact
@{
    ViewData["Title"] = "CBGA CB Chi tiết";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Cơ báo - @ViewData["Title"]</title>
    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for this page -->
    @*<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">*@
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">           
                <!-- Topbar -->
                @await Html.PartialAsync("/Views/Shared/_Topbar.cshtml")                
                <!-- Body Content -->
            <div class="container-fluid">
                <form method="post" asp-controller="CoBaoGA" asp-action="Cobaogact">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">

                            <div class="col-lg-12">
                                <div class="row" style="min-height:70px">
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Đầu máy</h6>
                                        <input asp-for="CoBaoGA.DauMayID" type="text" class="form-control form-control-user" id="txtDaumay" placeholder="Nhập đầu máy" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Ngày cơ báo</h6>
                                        @Html.TextBoxFor(Model => Model.CoBaoGA.NgayCB, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "date", @readonly = "readonly" })
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Số cơ báo</h6>
                                        <input asp-for="CoBaoGA.SoCB" type="text" class="form-control form-control-user" id="txtSocb" placeholder="Nhập số cơ báo" readonly>
                                    </div>
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Cơ báo id</h6>
                                        <input asp-for="CoBaoGA.CoBaoID" type="text" class="form-control form-control-user" id="txtCbid" placeholder="Nhập cơ báo id" readonly>
                                    </div>
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Cơ báo gốc</h6>
                                        <input asp-for="CoBaoGA.CoBaoGoc" type="text" class="form-control form-control-user" id="txtCbgoc" placeholder="Nhập cơ báo gốc" readonly>
                                    </div>
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Rút giờ</h6>
                                        <input asp-for="CoBaoGA.RutGio" type="text" class="form-control form-control-user" id="txtRutgio" placeholder="Nhập rút giờ" readonly>
                                    </div>
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Chất lượng</h6>
                                        <input asp-for="CoBaoGA.ChatLuong" type="text" class="form-control form-control-user" id="txtChatluong" placeholder="Nhập chất lượng" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Số lần ra kho</h6>
                                        <input asp-for="CoBaoGA.SoLanRaKho" type="text" class="form-control form-control-user" id="txtSolrk" placeholder="Nhập số lần ra kho" readonly>
                                    </div>
                                </div>
                                <div class="row" style="min-height:70px">
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Mã tx1</h6>
                                        <input asp-for="CoBaoGA.TaiXe1ID" type="text" class="form-control form-control-user" id="txtMatx1" placeholder="Nhập số db 1" readonly>
                                    </div>
                                    <div class="col-lg-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Tên tài xế 1</h6>
                                        <input asp-for="CoBaoGA.TaiXe1Name" type="text" class="form-control form-control-user" id="txtTentx2" placeholder="Nhập tên tài xế 1" readonly>
                                    </div>
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Mã tx2</h6>
                                        <input asp-for="CoBaoGA.TaiXe2ID" type="text" class="form-control form-control-user" id="txtMatx2" placeholder="Nhập số db 2" readonly>
                                    </div>
                                    <div class="col-lg-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Tên tài xế 2</h6>
                                        <input asp-for="CoBaoGA.TaiXe2Name" type="text" class="form-control form-control-user" id="txtTentx2" placeholder="Nhập tên tài xế 2" readonly>
                                    </div>
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Mã tx3</h6>
                                        <input asp-for="CoBaoGA.TaiXe3ID" type="text" class="form-control form-control-user" id="txtMatx3" placeholder="Nhập số db 3" readonly>
                                    </div>
                                    <div class="col-lg-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Tên tài xế 3</h6>
                                        <input asp-for="CoBaoGA.TaiXe3Name" type="text" class="form-control form-control-user" id="txtTentx3" placeholder="Nhập tên tài xế 3" readonly>
                                    </div>
                                </div>
                                <div class="row" style="min-height:70px">
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Mã px1</h6>
                                        <input asp-for="CoBaoGA.PhoXe1ID" type="text" class="form-control form-control-user" id="txtMapx1" placeholder="Nhập số pdb 1" readonly>
                                    </div>
                                    <div class="col-lg-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Tên phó xế 1</h6>
                                        <input asp-for="CoBaoGA.PhoXe1Name" type="text" class="form-control form-control-user" id="txtTenpx2" placeholder="Nhập tên phó xế 1" readonly>
                                    </div>
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Mã px2</h6>
                                        <input asp-for="CoBaoGA.PhoXe2ID" type="text" class="form-control form-control-user" id="txtMapx2" placeholder="Nhập số pdb 2" readonly>
                                    </div>
                                    <div class="col-lg-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Tên phó xế 2</h6>
                                        <input asp-for="CoBaoGA.PhoXe2Name" type="text" class="form-control form-control-user" id="txtTenpx2" placeholder="Nhập tên phó xế 2" readonly>
                                    </div>
                                    <div class="col-lg-1">
                                        <h6 class="m-0 font-weight-bold text-primary">Mã px3</h6>
                                        <input asp-for="CoBaoGA.PhoXe3ID" type="text" class="form-control form-control-user" id="txtMapx3" placeholder="Nhập số pdb 3" readonly>
                                    </div>
                                    <div class="col-lg-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Tên phó xế 3</h6>
                                        <input asp-for="CoBaoGA.PhoXe3Name" type="text" class="form-control form-control-user" id="txtTenpx3" placeholder="Nhập tên phó xế 3" readonly>
                                    </div>
                                </div>
                                <div class="row" style="min-height:70px">
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Giờ lên ban</h6>
                                        <input asp-for="CoBaoGA.LenBan" type="text" class="form-control form-control-user" id="txtLenban" placeholder="Nhập giờ lên ban" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Giờ nhận máy</h6>
                                        <input asp-for="CoBaoGA.NhanMay" type="text" class="form-control form-control-user" id="txtNhanmay" placeholder="Nhập giờ nhận máy" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Giờ ra kho</h6>
                                        <input asp-for="CoBaoGA.RaKho" type="text" class="form-control form-control-user" id="txtRakho" placeholder="Nhập giờ ra kho" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Giờ vào kho</h6>
                                        <input asp-for="CoBaoGA.VaoKho" type="text" class="form-control form-control-user" id="txtVaokho" placeholder="Nhập giờ vào kho" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Giờ giao máy</h6>
                                        <input asp-for="CoBaoGA.GiaoMay" type="text" class="form-control form-control-user" id="txtGiaomay" placeholder="Nhập giờ giao máy" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">Giờ xuống ban</h6>
                                        <input asp-for="CoBaoGA.XuongBan" type="text" class="form-control form-control-user" id="txtXuongban" placeholder="Nhập giờ xuống ban" readonly>
                                    </div>
                                </div>
                                <div class="row" style="min-height:70px">
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">NL ban trước</h6>
                                        <input asp-for="CoBaoGA.NLBanTruoc" type="text" class="form-control form-control-user" id="txtNLBantruoc" placeholder="Nhập NL ban trước" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">NL ban nhận</h6>
                                        <input asp-for="CoBaoGA.NLThucNhan" type="text" class="form-control form-control-user" id="txtNLThucnhan" placeholder="Nhập NL ban nhận" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">NL lĩnh</h6>
                                        <input asp-for="CoBaoGA.NLLinh" type="text" class="form-control form-control-user" id="txtNLLinh" placeholder="Nhập NL lĩnh" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">NL trạm</h6>
                                        <input asp-for="CoBaoGA.TramNLID" type="text" class="form-control form-control-user" id="txtNLTram" placeholder="Nhập NL trạm" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">NL trong đoạn</h6>
                                        <input asp-for="CoBaoGA.NLTrongDoan" type="text" class="form-control form-control-user" id="txtNLTrongdoan" placeholder="Nhập NL trong đoạn" readonly>
                                    </div>
                                    <div class="col-lg-2">
                                        <h6 class="m-0 font-weight-bold text-primary">NL ban sau</h6>
                                        <input asp-for="CoBaoGA.NLBanSau" type="text" class="form-control form-control-user" id="txtNLBansau" placeholder="Nhập NL ban sau" readonly>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                @if (Model.CoBaoGA != null)
                                {
                                    @if (Model.CoBaoGA.coBaoGACTs.Count() > 0)
                                    {
                                        <h6 class="m-0 font-weight-bold text-primary">Thông tin chi tiết cơ báo: @Model.CoBaoGA.coBaoGACTs.Count().ToString("N0")</h6>
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:blue">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Ngày xp
                                                    </th>
                                                    <th>
                                                        Giờ đến
                                                    </th>
                                                    <th>
                                                        Giờ đi
                                                    </th>
                                                    <th>
                                                        Phút dồn
                                                    </th>
                                                    <th>
                                                        Mác tầu
                                                    </th>
                                                    <th>
                                                        RG_NL
                                                    </th>
                                                    <th>
                                                        ĐG_PT
                                                    </th>
                                                    <th>
                                                        Ga tn
                                                    </th>
                                                    <th>
                                                        Loại tầu
                                                    </th>
                                                    <th>
                                                        Tính chất
                                                    </th>
                                                    <th>
                                                        Số xe
                                                    </th>
                                                    <th>
                                                        Tấn số
                                                    </th>
                                                    <th>
                                                        Xe rỗng
                                                    </th>
                                                    <th>
                                                        Tấn rỗng
                                                    </th>
                                                    <th>
                                                        Máy liên quan
                                                    </th>
                                                    <th>
                                                        Km k.gian
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.CoBaoGA.coBaoGACTs)
                                                {
                                                <tr>
                                                    <td style="min-width:160px">
                                                        @Html.DisplayFor(modelItem => item.NgayXP)
                                                    </td>
                                                    <td style="min-width:160px">
                                                        @Html.DisplayFor(modelItem => item.GioDen)
                                                    </td>
                                                    <td style="min-width:160px">
                                                        @Html.DisplayFor(modelItem => item.GioDi)
                                                    </td>
                                                    <td align="right">
                                                        @if (item.PhutDon != 0)@Html.DisplayFor(modelItem => item.PhutDon) else @Html.Display("--")
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.MacTauID)
                                                    </td>
                                                    <td align="right">
                                                        @if (item.RutGioNL != 0)@Html.DisplayFor(modelItem => item.RutGioNL) else @Html.Display("--")
                                                    </td>
                                                    <td align="center">
                                                        @Html.DisplayFor(modelItem => item.DungGioPT)
                                                    </td>
                                                    <td style="min-width:120px">
                                                        @Html.DisplayFor(modelItem => item.GaName)
                                                    </td>
                                                    <td style="min-width:250px">
                                                        @Html.DisplayFor(modelItem => item.LoaiTauName)
                                                    </td>
                                                    <td style="min-width:100px">
                                                        @Html.DisplayFor(modelItem => item.TinhChatName)
                                                    </td>
                                                    <td align="right">
                                                        @if (item.XeTotal != 0)@Html.DisplayFor(modelItem => item.XeTotal) else @Html.Display("--")
                                                    </td>
                                                    <td align="right">
                                                        @if (item.Tan != 0)@Html.DisplayFor(modelItem => item.Tan) else @Html.Display("--")
                                                    </td>
                                                    <td align="right">
                                                        @if (item.XeRongTotal != 0)@Html.DisplayFor(modelItem => item.XeRongTotal) else @Html.Display("--")
                                                    </td>
                                                    <td align="right">
                                                        @if (item.TanXeRong != 0)@Html.DisplayFor(modelItem => item.TanXeRong) else @Html.Display("--")
                                                    </td>
                                                    <td style="min-width:100px">
                                                        @Html.DisplayFor(modelItem => item.MayGhepID)
                                                    </td>
                                                    <td align="right">
                                                        @if (item.KmAdd != 0)@Html.DisplayFor(modelItem => item.KmAdd) else @Html.Display("--")
                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                    @if (Model.CoBaoGA.coBaoGADMs != null)
                                    {
                                        @if (Model.CoBaoGA.coBaoGADMs.Count() > 0)
                                        {
                                            <h6 class="m-0 font-weight-bold text-primary">Thông tin dầu mỡ cơ báo: @Model.CoBaoGA.coBaoGADMs.Count().ToString("N0")</h6>
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:blue">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Cơ báo id
                                                        </th>
                                                        <th>
                                                            Dầu mỡ id
                                                        </th>
                                                        <th>
                                                            Loại dầu mỡ
                                                        </th>
                                                        <th>
                                                            Đơn vị
                                                        </th>
                                                        <th>
                                                            DM nhận
                                                        </th>
                                                        <th>
                                                            DM lĩnh
                                                        </th>
                                                        <th>
                                                            DM trạm
                                                        </th>
                                                        <th>
                                                            DM giao
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.CoBaoGA.coBaoGADMs)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CoBaoID)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.LoaiDauMoID)
                                                            </td>
                                                            <td style="min-width:180px">
                                                                @Html.DisplayFor(modelItem => item.LoaiDauMoName)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DonViTinh)
                                                            </td>
                                                            <td align="right">
                                                                @if (item.Nhan != 0)@Html.DisplayFor(modelItem => item.Nhan) else @Html.Display("--")
                                                            </td>
                                                            <td align="right">
                                                                @if (item.Linh != 0)@Html.DisplayFor(modelItem => item.Linh) else @Html.Display("--")
                                                            </td>
                                                            <td style="min-width:100px">
                                                                @Html.DisplayFor(modelItem => item.TenTram)
                                                            </td>
                                                            <td align="right">
                                                                @if (item.Giao != 0)@Html.DisplayFor(modelItem => item.Giao) else @Html.Display("--")
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }                                       
                                    }
                                    @if (Model.BCCoBaoTTInfo != null)
                                        {
                                            <h6 class="m-0 font-weight-bold text-primary">Thông tin thành tích cơ báo</h6>
                                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="color:blue">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Gờ đầu máy
                                                        </th>
                                                        <th>
                                                            Giờ lữ hành
                                                        </th>
                                                        <th>
                                                            Giờ đơn thuần
                                                        </th>
                                                        <th>
                                                            Giờ dồn
                                                        </th>
                                                        <th>
                                                            Giờ dừng
                                                        </th>
                                                        <th>
                                                            KM chạy
                                                        </th>
                                                        <th>
                                                            Tấn km
                                                        </th>
                                                        <th>
                                                            NL định mức
                                                        </th>
                                                        <th>
                                                            NL tiêu thụ
                                                        </th>
                                                        <th>
                                                            NL lời, lỗ
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td align="right">
                                                            @if (Model.BCCoBaoTTInfo.GioDM != 0)@Html.DisplayFor(modelItem => Model.BCCoBaoTTInfo.GioDM) else @Html.Display("--")
                                                        </td>
                                                        <td align="right">
                                                            @if (Model.BCCoBaoTTInfo.GioLH != 0)@Html.DisplayFor(modelItem => Model.BCCoBaoTTInfo.GioLH) else @Html.Display("--")
                                                        </td>
                                                        <td align="right">
                                                            @if (Model.BCCoBaoTTInfo.GioDT != 0)@Html.DisplayFor(modelItem => Model.BCCoBaoTTInfo.GioDT) else @Html.Display("--")
                                                        </td>
                                                        <td align="right">
                                                            @if (Model.BCCoBaoTTInfo.GioDon != 0)@Html.DisplayFor(modelItem => Model.BCCoBaoTTInfo.GioDon) else @Html.Display("--")
                                                        </td>
                                                        <td align="right">
                                                            @if (Model.BCCoBaoTTInfo.GioDung != 0)@Html.DisplayFor(modelItem => Model.BCCoBaoTTInfo.GioDung) else @Html.Display("--")
                                                        </td>
                                                        <td align="right">
                                                            @if (Model.BCCoBaoTTInfo.KMChay != 0)@Html.DisplayFor(modelItem => Model.BCCoBaoTTInfo.KMChay) else @Html.Display("--")
                                                        </td>
                                                        <td align="right">
                                                            @if (Model.BCCoBaoTTInfo.TKM != 0)@Html.DisplayFor(modelItem => Model.BCCoBaoTTInfo.TKM) else @Html.Display("--")
                                                        </td>
                                                        <td align="right">
                                                            @if (Model.BCCoBaoTTInfo.DinhMuc != 0)@Html.DisplayFor(modelItem => Model.BCCoBaoTTInfo.DinhMuc) else @Html.Display("--")
                                                        </td>
                                                        <td align="right">
                                                            @if (Model.BCCoBaoTTInfo.TieuThu != 0)@Html.DisplayFor(modelItem => Model.BCCoBaoTTInfo.TieuThu) else @Html.Display("--")
                                                        </td>
                                                        <td align="right">
                                                            @if (Model.BCCoBaoTTInfo.LoiLo != 0)@Html.DisplayFor(modelItem => Model.BCCoBaoTTInfo.LoiLo) else @Html.Display("--")
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                  }
                             </div>
                        </div>
                        <!-- Footer-->
                        <div class="card-footer py-3">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="CoBaoGA" asp-action="PdfReport_Cobaogact">XuấtCB Pdf</button>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="CoBaoGA" asp-action="ExcelReport_Cobaogact">XuấtCB Excel</button>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="CoBaoGA" asp-action="WordReport_Cobaogact">XuấtCB Word</button>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="CoBaoGA" asp-action="HtmlReport_Cobaogact">XuấtCB Html</button>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="CoBaoGA" asp-action="PdfReportRG_Cobaogact">XuấtRG Pdf</button>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="CoBaoGA" asp-action="ExcelReportRG_Cobaogact">XuấtRG Excel</button>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="CoBaoGA" asp-action="WordReportRG_Cobaogact">XuấtRG Word</button>
                                    </div>
                                    <div class="col-lg-1">
                                        <button type="submit" class="btn btn-outline-primary" method="post" asp-controller="CoBaoGA" asp-action="HtmlReportRG_Cobaogact">XuấtRG Html</button>
                                    </div>
                                    <div class="col-lg-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
                <!-- Footer -->
                @await Html.PartialAsync("/Views/Shared/_Footer.cshtml")
            </div>
    </div>
            <!-- Bootstrap core JavaScript-->
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="/js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            @*<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>*@

            <!-- Page level custom scripts -->
            @*<script src="/js/demo/datatables-demo.js"></script>*@

</body>
</html>